<section class="relative flex justify-center items-center pt-36 pb-20">
    <div
        class="absolute top-0 left-0 right-0 bottom-0 bg-cover bg-center -z-10"
        style="background-image: url('/images/backgrounds/netflix.png'); filter: blur(2px) opacity(1)"
    ></div>
    <div class="relative z-10 px-20 py-16 rounded-lg bg-gray-50 shadow-lg">
        <form action="/login" method="POST">
            <div class="flex flex-col space-y-2">
                <h2 class="text-2xl font-bold">Sign In</h2>
                <div class="flex flex-col space-y-1">
                    <label for="email" class="font-medium">Email</label>
                    <input
                        type="text"
                        name="email"
                        id="email"
                        aria-label="Email"
                        required
                        autocomplete="username"
                        class="border p-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
                        aria-autocomplete="both"
                    />
                </div>
                <div class="flex flex-col space-y-1">
                    <label for="password" class="font-medium">Password</label>
                    <div class="relative">
                        <input
                            type="password"
                            name="password"
                            id="password"
                            required
                            autocomplete="current-password"
                            aria-label="Current password"
                            aria-autocomplete="both"
                            class="border p-2 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                        />
                        <button
                            type="button"
                            class="absolute inset-y-0 right-0 flex items-center pr-3"
                            onclick="togglePasswordVisibility()"
                        >
                            <i id="password-icon" class="fas fa-eye text-gray-500"></i>
                        </button>
                    </div>
                </div>
                <button
                    type="submit"
                    class="flex items-center justify-center w-full py-2 mt-4 font-semibold text-white bg-blue-500 rounded hover:bg-blue-600"
                >
                    <i class="fas fa-lock mr-2"></i>
                    <span class="text-base capitalize">Sign In</span>
                </button>
                <div class="mt-4 text-sm">
                    <span class="text-gray-600">Don't have an account?</span>
                    <a href="/register" class="pl-1 text-blue-500 hover:underline">Sign Up</a>
                </div>
            </div>
        </form>
    </div>
</section>

<script>
    // function togglePasswordVisibility() {
    //     var passwordInput = document.getElementById('password');
    //     var passwordIcon = document.getElementById('password-icon');
    //     if (passwordInput.type === 'password') {
    //         passwordInput.type = 'text';
    //         passwordIcon.classList.remove('fa-eye');
    //         passwordIcon.classList.add('fa-eye-slash');
    //     } else {
    //         passwordInput.type = 'password';
    //         passwordIcon.classList.remove('fa-eye-slash');
    //         passwordIcon.classList.add('fa-eye');
    //     }
    // }
</script>
