<div class="bg-gray-900 flex items-center justify-center min-h-screen">
    <section class="flex flex-col items-center pt-32 pb-20">
        <h2 class="mt-4 text-2xl font-bold">Choose your favorite Genre</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mt-8 mb-6">
                @each(genre in genres)
                    @include('../components/ui/GenreItem', { data: genre })
                @endeach
            </div>
    </section>
</div>
