<div class="mx-auto flex flex-col justify-start gap-y-20 bg-gray-900 text-white pt-32 pb-20">
  <section>
    <div class="flex flex-row justify-between pl-16 pr-16">
      <h1 class="text-4xl font-bold pb-8 text-white">Movies</h1>
      <%- include('../../components/features/SortSelect.ejs', { selectId: 'moviesSortSelect', paginationType: 'movies', sortBy: moviesSortBy, ascOrDesc: moviesAscOrDesc }) %>
    </div>
    <div class="flex flex-wrap gap-6 justify-center">
      <% movies.forEach((movie) => { %>
      <%- include('../../components/ui/CardItem', { data: movie, type: 'movie' }) %>
      <% }); %>
    </div>
    <div class="pt-12">
      <%- include('../../components/features/Pagination', { currentPage: currentPageMovies, pageCount: pageCountMovies, paginationType: "none" }) %>
    </div>
  </section>
  <section>
    <h1 class="text-4xl font-bold pb-8 text-white pl-16">Latest Movies</h1>
    <div class="flex flex-wrap gap-6 justify-center">
      <% latestMovies.forEach((latestMovie) => { %>
      <%- include('../../components/ui/CardItem', { data: latestMovie, type: 'movie' }) %>
      <% }); %>
    </div>
  </section>
</div>