<a href="/genres/<%= data.name %>">
    <div class="flex items-center justify-center cursor-pointer h-48 w-48 bg-blue-200 rounded shadow-lg">
        <span class="text-lg font-medium"><%= data.name %></span>
    </div>
</a>
