<section class="relative flex justify-center items-center min-h-screen">
    <div
        class="absolute top-0 left-0 right-0 bottom-0 bg-cover bg-center -z-10"
        style="background-image: url('/images/backgrounds/netflix.png'); filter: blur(2px) opacity(1)"
    ></div>
    <div class="space-y-4 flex flex-col justify-center items-center">
        <h1
            class="text-[22px] sm:text-[30px] md:text-[40px] lg:text-[55px] xl:text-[60px] font-black tracking-wider text-gray-200"
        >
            Dive into MovieLandia24
        </h1>
        <h2
            class="text-[16px] sm:text-[22px] md:text-[30px] lg:text-[35px] xl:text-[40px] font-black tracking-wide text-gray-200"
        >
            Your Gateway to the World of Cinema and Series!
        </h2>
        <p
            class="mt-4 text-[12px] sm:text-[14px] md:text-[16px] lg:text-[18px] xl:text-[20px] font-bold tracking-wide text-gray-200"
        >
            Explore the latest blockbusters and timeless classics.
        </p>
        <div class="flex justify-center mt-8 space-x-6">
            <a href="/movies">
                <button class="flex items-center bg-blue-300 text-white px-4 py-2 rounded hover:bg-green-800">
                    <i class="fas fa-film text-[12px] sm:text-[14px] md:text-[16px] lg:text-[18px] xl:text-[20px]"></i>
                    <span
                        class="ml-2 font-bold text-[10px] sm:text-[12px] md:text-[14px] lg:text-[16px] xl:text-[18px]"
                    >
                        Start Watching Movies
                    </span>
                </button>
            </a>
            <a href="/series">
                <button class="flex items-center bg-blue-300 text-white px-4 py-2 rounded hover:bg-green-800">
                    <i class="fas fa-tv text-[12px] sm:text-[14px] md:text-[16px] lg:text-[18px] xl:text-[20px]"></i>
                    <span
                        class="ml-2 font-bold text-[10px] sm:text-[12px] md:text-[14px] lg:text-[16px] xl:text-[18px]"
                    >
                        Start Watching Series
                    </span>
                </button>
            </a>
        </div>
    </div>
</section>
